/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*画像の大きさ*/
.default_image { 
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-image{
  width: 20%;
}

header {
  background-color: #fffff0;
  width: 100%;
  height: 150px;
}

.header-left {
  display: flex;
  float: left;
  margin-left: 20px;
}

.header-right {
  display: -webkit-box;
}

.logo {
  width: 30%;
  margin-top: 10px;
}

.header-main {
display: inline-flex;
margin-top: 60px;
}

.header-login {
  margin-top: 75px;
}

fotter{
  display: block;
  width: 100%;
  min-height: 60px;
  background-color:  #fffff0;
  text-align: center;
  margin-top: 20px;
  border-top: 15px solid #ffd700;
}

/*ログイン、新規登録ボタン*/
.header-login-btn {
  background-color: #ffa500;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  height: 20px;
  padding: 5px;
  margin: 0 15px;
  text-align: center;
  justify-content: center;
}

/*ナビのところ*/

.menu-bar {
  top: 80px;
  right: 8px;
  background-color: white;
} 


.menu-bar ul li {
  list-style: none;
  margin: 5px 0;
} 

.menu-list {
  text-decoration: none;
  color: black;
}

#dropdown {
  margin: auto;
}


/*検索のところ*/
.search {
  font-size: 20px;
}

.search-btn {
  background-color: #ffa500;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  height: 30px;
  width: 80px;
  padding: 1px;
  margin: 0 15px;
  text-align: center;
  justify-content: center;
}

.search-button {
  text-align: center;
}