// Place all the styles related to the cooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table th{
  background-color: #ffffe0;
  padding: 10px 20px;
}

.cook-table th {
  background-color: #ffffe0;
  padding: 10px 20px;
  width: 150px;
}

table td{
  background-color: #fffacd;
  padding: 10px 20px;
}

table{
  width: 60%;
  height: 60%;
  margin-left: 150px;
}

@media screen and (max-width: 769px) {
  table {
    width: 100%;
    height: 0%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  table {
    width: 100%; 
    height: 0%; 
    margin-left: 0px; 
    font-size: 5px;
  }
}

.notice {
  background-color: #ffd700;
  padding: 15px;
}

.cook-image {
  width: 50%;
}

@media screen and (max-width: 480px) {
  .cook-image {
    width: 120px;
  }
}

h3 {
  margin-left: 100px;
  font-size: 30px;
}

.cook-btn {
  background-color: #ffa500;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  height: 30px;
  width: 200px;
  padding: 1px;
  margin: 0 15px;
  text-align: center;
  justify-content: center;
}

.cook-butann {
  text-align: center;
  margin-right: 200px;
}

@media screen and (max-width: 480px) {
  .cook-butann {
    text-align: center;
    margin-right: -120px;
  }
}

.cook-box-btn {
  background-color: #ffa500;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  height: 20px;
  padding: 5px;
  margin: 0 15px;
  text-align: center;
  justify-content: center;
}

.cook-box {
  margin-left: 500px;
}

@media screen and (max-width: 769px) {
  .cook-box {
    margin-left: 180px;
}
}


/*入力ホームのところ*/
.cook-ingredient {
  height: 150px;
  width: 400px;
}

.cook-recipe {
  height: 300px;
  width: 400px;
}

.cook-point {
  height: 150px;
  width: 400px;
}

.post-content {
  height: 100px;
  width: 400px;
}

@media screen and (max-width: 480px) {
  .cook-ingredient {
    height: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .cook-recipe {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .cook-point {
    height: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .post-content {
    height: 100px;
    width: 200px;
  }
}


@media screen and (max-width: 480px) {
  .cook-content {
    width: 100%;
  }
}
