// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 /*ボタン*/
.post-box-btn {
  background-color: #ffa500;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  height: 20px;
  padding: 5px;
  margin: 0 15px;
  text-align: center;
  justify-content: center;
}

.post-box {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-btn {
  background-color: #ffa500;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  height: 30px;
  width: 200px;
  padding: 1px;
  margin: 0 15px;
  text-align: center;
  justify-content: center;
}